<div class="body">

<% if @restaurant.errors.any? %>
  <section id="errors">
    <h2> <%= pluralize(@restaurant.errors.count, "error") %> prohibited this resturant from being saved: </h2>
    <ul>
      <% @restaurant.errors.full_messages.each do |error|%>
        <li><%= error %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= render "form" %>
</div>
